.footer-section{

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-inner{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right{

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
}