@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body{
  background-color: black;
  color: white;
}

.project-card {
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card h4 {
  transition: opacity 0.3s ease;
}

.project-card:hover h4 {
  opacity: 0.7;
}

.project-image {
  transition: transform 0.3s ease;
}

.project-card:hover .project-image {
  transform: scale(1.1);
}
